
.credit-card {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  border-radius: 14px;
  width: 260px;
  height: 180px;
  display: block;
  position: relative;
  padding: 10px 20px;
  left: -4px;
  top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 2px 8px  black;
  z-index: 99;
}
h4{
  margin-bottom: 0;
}
 .chip{
   position: absolute;
   display: block;
   width: 30px;
   height: 20px;
   background-color: gray;
      border-radius: 3px;
      border: 1px gray;
     
 }
 .chip .l1{
   width: 14px;
   height: 6px;
   display: block;
  background-color:#F7DC6F; 
  border-radius: 3px 0 0 0;

 
  }
  .chip .l2{
    margin-top: 1px;
    width: 14px;
    height: 6px;
    display: block;
   background-color:#F7DC6F ;
   }

   .chip .l3{
    margin-top: 1px;
    width: 14px;
    height: 6px;
    display: block;
   background-color:#F7DC6F;
   border-radius: 0 0 0 3px;
   }
   .chip .l4{
     position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 6px;
    display: block;
   background-color:#F7DC6F;
   border-radius: 0 3px 0 0;
   }
   .chip .l5{
    position: absolute;
   right: 0;
   top: 7px;
   width: 14px;
   height: 6px;
   display: block;
  background-color:#F7DC6F;
  border-radius: 0 0 0 0;
  }
  .chip .l6{
    position: absolute;
   right: 0;
   top: 14px;
   width: 14px;
   height: 6px;
   display: block;
  background-color:#F7DC6F;
  border-radius: 0 0 3px 0;
  }

.cardnumbers {
 
  position: absolute;
 color: rgb(136, 135, 135);
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'Oxanium', cursive;
  top: 90px;  
}
.inicialnumber{
 font-size: 10px;
  width: 40px;
  display: block;
  margin-top: 50px;

}
.valid-thru{
  font-size: 6px;
   width: 40px;
   display: block;
   margin-top: -10px;
   margin-left: 80px;
   color: rgb(49, 49, 49);
   font-weight: bold;
 }
 .valid-thru-date{
  font-size: 12px;
   width: 40px;
   display: block;
   margin-top: -18px;
   margin-left: 100px;
   color: rgb(49, 49, 49);
   font-weight: bold;
 }
.cardname {
  position: absolute;
  color: rgb(136, 135, 135);
  font-size: 11px;
  font-family: 'Oxanium', cursive;  
top: 150px;
  margin-bottom: 15px;
}

.toleft {
  float: left;
}
.ccv {
  width: 50px;
  margin-top: -5px;
  font-size: 10px;
}

